h1, h2, h3, h4, h5, h6 {
    color: darkblue;
}

h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
    color: rgb(0, 139, 72);
}

p {
    font-size: 30px;
    /* font-weight: 900; */
}

img {
    height: 150px;
    width: 150px;
    border: dotted purple 5px;
    border-radius: 5px;
}

button {
    background-color: blanchedalmond;
}

button:hover {
    background-color: blueviolet;
}

div {
    background-color: chocolate;
    height: 300px;
    width: 300px;
}

div > div {
    background-color: brown;
    height: 30%;
    width: 30vw;
}

* {
    font-family: 'Croissant One', cursive;
}

body {
    background-image: url('https://media.istockphoto.com/id/487774484/vector/cute-cartoon-ghost-pattern.jpg?s=612x612&w=0&k=20&c=OO5juZ5Cn0eWSYgM-uquO2gcOEM-nZqrLxNmMBZzIRI=');
    /* background-repeat: no-repeat; */
    background-position: center;
    /* background-size: cover; */
}